html{
	font-size: 62.5%;
}
body{
	font-size: 1.4rem;
	margin:0;
	padding: 0;
}

header{
	display: flex;
	padding:2rem;
	justify-content: space-between;
	background-color: black;
	color: white;
}

.btn-header{
	background-color: black;
	color: white;
	height: 5rem;
}

.logo img{
	vertical-align: middle;
}

.spanheader{
	font-family: sans-serif;
	font-size: 1.2em;
}

.string-header{
	display: flex;
	vertical-align: middle;
	justify-content: space-between;
}

.section-1{
	background-image: url(../../img/images.jpeg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 50em;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	box-shadow: inset 0 0 2em white, 0 0 3em grey;
}

.section-1 h2{
	margin-top:7em;
	padding: 0;
	color:white;
	font-size: 4rem;
	text-shadow: 0 6px 3px black;
	font-family: sans-serif;
}

.section-2{
	background-color: rgba(20, 44, 47);
	color: white;
	font-family: sans-serif;
	text-shadow: 0 6px 3px black;
}

.section-2 h2{
	text-align: center;
	margin-top: 3rem;
	/* text-shadow: 0 6px 3px black; */
}

.display-inlab input{
	border-radius: 0;
	border: 1px solid black;
	box-shadow: inset 0 0 2em white, 0 0 3em rgba(172, 115, 127);
}

.display-inlab select{
	border-radius: 0;
	border: 1px solid black;
}

.border-equipe{
	border: 0.1rem solid white;
	width: 3.5rem;
	margin-left: auto;
 	margin-right: auto;
}

.display-form{
	display: flex;
	justify-content: space-around;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.display-inlabf{
	display: flex;
}

.display-inlab{
	display: flex;
	flex-direction: column;
	/* margin-right: 1.5rem; */
}

.txt-btn{
	display: flex;
	justify-content: space-between;
	margin-top: 5rem;
	padding-bottom: 3rem;
	margin-right: 12.5%;
	margin-left: 12.5%;
}

.txt-btn p{
	font-size: 1.1rem;
}

.btn-sub{
	border-radius: 0;
	border: 1px solid white;
	height: 3rem;
	background-color: black;
	color: white;
	box-shadow: inset 0 0 1em white, 0 0 2em grey;
}

.baniere{
	background-image: url('../../img/banniere1.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top;
	background-attachment: fixed;

	height: 21rem;
	box-shadow: inset 0 0 2em white, 0 0 3em grey;

	/* width:100%;
  	height:100%; */
  	/* display:block; */
}

.section-2 h2{

}
.btn-go{
	align-content: flex-end;
	border-radius: 0;
	border: 1px solid white;
	height: 5rem;
	margin-top: 4rem;
	background-color: black;
	color: white;
	box-shadow: inset 0 0 1em white, 0 0 2em grey;
}

footer{
	height: 4em;
	border: 1em solid black;
	background-color: black;
	color: white;
	text-align: center;
	font-size: 1rem;
	font-family: sans-serif;
}


.simplon-war{
	background-color: black;
	color: white;
}



