html{
	font-size: 62.5%;
}
body{
	/* background-image: url('../../img/neige.gif'); */
	/* background-size: cover; */
	font-size: 1.4rem;
	margin:0;
	padding: 0;
}

header{
	display: flex;
	padding:2rem;
	justify-content: space-between;
	background-color: black;
	color: white;
}

.btn-header{
	background-color: rgba(20, 44, 47);
	color: white;
	height: 5rem;
	border: 1px solid white;

}

.logo img{
	vertical-align: middle;
	-moz-transition-duration:0.7s;
	-moz-transition-timing-function: ease;
	-webkit-transition-duration:0.7s;
	-webkit-transition-timing-function:ease;
	transition-duration:0.7s;
	transition-timing-function:ease;
	/* -webkit-animation:spin 4s linear infinite;
	-moz-animation:spin 4s linear infinite;
	animation:spin 4s linear infinite; */
}

.logo img:hover{
	-moz-transform:rotate(360deg);
	-webkit-transform:rotate(360deg);
	transform:rotate(360deg);
}

.spanheader{
	font-family: sans-serif;
	font-size: 1.2em;
}

.string-header{
	display: flex;
	vertical-align: middle;
	justify-content: space-between;
}

.section-1{
	background-image: url('../../img/neige.gif'), url('../../img/images.jpeg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 50em;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	box-shadow: inset 0 0 2em white, 0 0 3em grey;
}

.section-1 h2{
	margin-top:7em;
	padding: 0;
	color:white;
	font-size: 4rem;
	text-shadow: 0 6px 3px black;
	font-family: sans-serif;
}

.section-2{
	background-color: rgba(20, 44, 47);
	color: white;
	font-family: sans-serif;
	text-shadow: 0 6px 3px black;
}

.section-2 label{

}

.section-2 input{
	height: 2.5rem;
}

.section-2 select{
	height: 3rem;
	width: 12rem;
}

.section-2 h2{
	text-align: center;
	margin-top: 3rem;
	/* text-shadow: 0 6px 3px black; */
}

.display-inlab input{
	border-radius: 0;
	border: 1px solid black;
	box-shadow: inset 0 0 2em white, 0 0 3em rgba(172, 115, 127);
}

.display-inlab select{
	border-radius: 0;
	border: 1px solid black;
}

.border-equipe{
	border: 0.1rem solid white;
	width: 3.5rem;
	margin-left: auto;
 	margin-right: auto;
}

.display-form{
	display: flex;
	justify-content: space-around;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.display-inlabf{
	display: flex;
}

.display-inlab{
	display: flex;
	flex-direction: column;
	/* margin-right: 1.5rem; */
}

.txt-btn{
	display: flex;
	justify-content: space-between;
	margin-top: 5rem;
	padding-bottom: 3rem;
	margin-right: 12.5%;
	margin-left: 12.5%;
}

.txt-btn p{
	font-size: 1.1rem;
}

.btn-sub{
	border-radius: 0;
	border: 1px solid white;
	height: 3rem;
	background-color: black;
	color: white;
	box-shadow: inset 0 0 1em white, 0 0 2em grey;
}

.baniere{
	background-image: url('../../img/banniere1.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top;
	background-attachment: fixed;

	height: 21rem;
	box-shadow: inset 0 0 2em white, 0 0 3em grey;

	/* width:100%;
  	height:100%; */
  	/* display:block; */
}

.section-2 h2{

}
.btn-go{
	align-content: flex-end;
	border-radius: 0;
	border: 1px solid white;
	height: 5rem;
	margin-top: 4rem;
	background-color: black;
	color: white;
	box-shadow: inset 0 0 1em white, 0 0 2em grey;
}

.img-heros-monsters{
	display: flex;
	justify-content: space-around;
	margin-top: 2rem;
}

.heros{
	display: flex;
}

.heros .img{
	border: 0.1rem solid rgb(255,215,0);
	box-shadow: inset 0 0 2em rgba(100, 100, 100, 0), 0 0 3em yellow;
}

.monsters .img{
	border: 0.1rem solid rgb(255,215,0);
	box-shadow: inset 0 0 2em rgba(100, 100, 100, 0), 0 0 3em red;
}

.monsters{
	display: flex;
}

.img{
	margin: 1rem;	
	border-radius: 1.5rem;
	width: 10rem;
	height: 12rem;
}

.display-img{
	display: flex;
	flex-direction: column;

	-webkit-transition: all 1s ease; /* Safari et Chrome */
	-moz-transition: all 1s ease; /* Firefox */
	-ms-transition: all 1s ease; /* Internet Explorer 9 */
	-o-transition: all 1s ease; /* Opera */
	transition: all 1s ease; 
}

.display-img:hover{
	-webkit-transform:scale(1.25); /* Safari et Chrome */
	-moz-transform:scale(1.25); /* Firefox */
	-ms-transform:scale(1.25); /* Internet Explorer 9 */
	-o-transform:scale(1.25); /* Opera */
	transform:scale(1.25);
}

.name-img{
	display: flex;
	justify-content: center;
}

.img-magicien{
	background-image: url('../../img/carte/magicien.jpg');
	background-size: cover;
	background-repeat: no-repeat;	
}

.back-img{
	background-image: url('../../img/carte/guerrier.jpg');
}

/* .img-magicien:hover{
	width: 10rem;
	height: 12rem;
	border: 0.2 rem;
	border-radius: 1.5rem;
	background: black;
	transform: translate3d(10,10,50);
} */

.img-elf{
	background-image: url('../../img/carte/elfe.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.img-guerrier{
	background-image: url('../../img/carte/guerrier1.png');
	background-color: grey;
	background-size: cover;
	background-repeat: no-repeat;
}

.img-nain{
	background-image: url('../../img/carte/nain.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.img-magenoir{
	background-image: url('../../img/carte/blackmage.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.img-orc{
	background-image: url('../../img/carte/orc.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.img-gobelin{
	background-image: url('../../img/carte/gobelin.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.img-ombrenoir{
	background-image: url('../../img/carte/ombrenoir.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.img-sauron{
	background-image: url('../../img/carte/sauron.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.section-3{
	background-image: url('../../img/battle.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	/* background-position: center; */
	background-attachment: fixed;
	box-shadow: inset 0 0 2em red, 0 0 3em red;
	height: 50em;
}

footer{
	height: 4em;
	border: 1em solid black;
	background-color: black;
	color: white;
	text-align: center;
	font-size: 1rem;
	font-family: sans-serif;
}


.simplon-war{
	background-color: black;
	color: white;
}


.echo-fight ,tr,td{
	border: solid 1px white;
}

.audio-section1{
	display: flex;
	align-items: flex-end;
}


/* .link-img{
	color:#ccc;
    text-shadow:0 -1px 0 black;  
}

.link-img:hover,.link-img:focus{
	background:rgba(0,0,0,.4);
	box-shadow:0 1px 0 rgba(255,255,255,.4);
}

.link-img .bulle{
	position:absolute;  
	margin-top:23px;
	margin-left:-35px;   
	color:#09c;
	background:rgba(0,0,0,.9);
	padding:15px;
	border-radius:3px;
	box-shadow:0 0 2px rgba(0,0,0,.5);   
	transform:scale(0) rotate(-12deg); 
	transition:all .25s;
	opacity:0;       
}

.link-img:hover .bulle, .link-img:focus .bulle{
	transform:scale(1) rotate(0);   
	opacity:1;     
}

a{
	list-style: none;
	text-transform: none;
	text-decoration: none;
} */